---
http_interactions:
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-name/Lyord?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 1:1,53:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 2:60
      x-riot-edge-trace-id:
      - a344371c-4e6b-4554-b405-345bf41ffa70
    body:
      encoding: UTF-8
      string: '{"id":"AsH5zLUcK6wNDoIzDe_3dhS-y_462N7K0wnK64-i4NMwGA","accountId":"0igBvbpOrPM8g-yeV-PzxJY7SSdOqaz7mK4j5snJ8sw6GNA","puuid":"dsA2iCLloiNQ631v3cIa7hynySmFwJ_HFo2NRdcDrH45MR8qKRS1B4LnteBDhhAwaIOygYdlz4uV6A","name":"Lyord","profileIconId":3176,"revisionDate":1671059670000,"summonerLevel":639}'
  recorded_at: Sun, 18 Dec 2022 13:00:27 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/league/v4/entries/by-summoner/AsH5zLUcK6wNDoIzDe_3dhS-y_462N7K0wnK64-i4NMwGA?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 2:1,54:120
      x-method-rate-limit:
      - 100:60
      x-method-rate-limit-count:
      - 2:60
      x-riot-edge-trace-id:
      - dce153ad-5e51-4763-a9ef-ff77bddf1412
    body:
      encoding: UTF-8
      string: '[{"leagueId":"b86a8350-95d6-3520-85f9-fd45e7a18440","queueType":"RANKED_SOLO_5x5","tier":"MASTER","rank":"I","summonerId":"AsH5zLUcK6wNDoIzDe_3dhS-y_462N7K0wnK64-i4NMwGA","summonerName":"Lyord","leaguePoints":10,"wins":386,"losses":380,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false},{"leagueId":"25116b4b-e7ee-4bf1-a424-6e69234291fb","queueType":"RANKED_FLEX_SR","tier":"GOLD","rank":"IV","summonerId":"AsH5zLUcK6wNDoIzDe_3dhS-y_462N7K0wnK64-i4NMwGA","summonerName":"Lyord","leaguePoints":53,"wins":18,"losses":22,"veteran":false,"inactive":false,"freshBlood":false,"hotStreak":false}]'
  recorded_at: Sun, 18 Dec 2022 13:00:28 GMT
- request:
    method: get
    uri: https://americas.api.riotgames.com/lol/match/v5/matches/by-puuid/dsA2iCLloiNQ631v3cIa7hynySmFwJ_HFo2NRdcDrH45MR8qKRS1B4LnteBDhhAwaIOygYdlz4uV6A/ids?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134&count=5&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 1:1,7:120
      x-method-rate-limit:
      - '500:10'
      x-method-rate-limit-count:
      - '1:10'
      x-riot-edge-trace-id:
      - 30ac51a1-97f6-4b7a-8a77-f3fb58bbce48
    body:
      encoding: UTF-8
      string: '["BR1_2644671204","BR1_2644115358","BR1_2642265460","BR1_2639629872","BR1_2639106724"]'
  recorded_at: Sun, 18 Dec 2022 13:00:29 GMT
- request:
    method: get
    uri: https://americas.api.riotgames.com/lol/match/v5/matches/BR1_2644671204?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 2:1,8:120
      x-method-rate-limit:
      - '500:10'
      x-method-rate-limit-count:
      - '1:10'
      x-riot-edge-trace-id:
      - 833e67c8-efaf-4fc7-a3ec-4be5f6a50f2b
    body:
      encoding: UTF-8
      string: '{"metadata":{"dataVersion":"2","matchId":"BR1_2644671204","participants":["vYRZZnkDGJShTIVBItLrDdg55r1VWqu7p4LMEobPG7BmnrriUOzDw3Yv0Iw02X000BLZ2ZsTu8yq7A","dsA2iCLloiNQ631v3cIa7hynySmFwJ_HFo2NRdcDrH45MR8qKRS1B4LnteBDhhAwaIOygYdlz4uV6A","RXcJ-ym3QoZ7zolwjDNpHLXC_c5fzEc74tGZW2UdU-HbZoxIdjPRCD-pdWNaygNgDIwibkM9otLkgg","A87dJq2ioJhHVapHtaKjPEOMteTQjjzVEeoXD7k9eBuMN8p2pAhtlOgcYEpHT_JkBLIdfvVQg6PZpQ","IZ5Z5cNuab8Mf46bX7sMob2O1NXW-0VT8M1YLilv9N29vTt3L9X87mam6ehBQ4jWpAFXcGbh8Sj8Uw","xM-GrcQsWMSheevvyUi9bfBgY2kQpHiT3cgAKEiKGyWcfd53qYT9Yl1gD4ymGTt6TU6Ga5NLS6dd9Q","EGBztrSGAD2DC3RihWOks08ememOBKMiNRwxsu4JmCJ5sqCTZsdq5TNtDbL1it-WeciUuQLZBlOJlg","f91Cv99bcGqp5RjontXIBWXpwVWFTX7pmw8oV8eY60Ob110dXWypKh0w4PsdPjSSStTojTeAcE1WGA","e74ZkmXFIOGhE1dZq8fbDlvjH5NAaknXalpeuUTdJHzfHeCVo0Q4C5Y161O7O_bLxBsBePeH_lHGNg","aYovYwt0z0DmPi_8NtLUuTijY08fEXPFN-DxtBrZaIG7iCU0tqFiZLX-_8StogKn-k0nikxONtO-8w"]},"info":{"gameCreation":1671058433924,"gameDuration":1125,"gameEndTimestamp":1671059660347,"gameId":2644671204,"gameMode":"ARAM","gameName":"teambuilder-match-2644671204","gameStartTimestamp":1671058535057,"gameType":"MATCHED_GAME","gameVersion":"12.23.483.5208","mapId":12,"participants":[{"allInPings":0,"assistMePings":2,"assists":28,"baitPings":0,"baronKills":0,"basicPings":0,"bountyLevel":0,"challenges":{"12AssistStreakCount":1,"abilityUses":128,"acesBefore15Minutes":2,"alliedJungleMonsterKills":0,"baronTakedowns":0,"blastConeOppositeOpponentCount":0,"bountyGold":375,"buffsStolen":0,"completeSupportQuestInTime":0,"controlWardsPlaced":0,"damagePerMinute":1612.5056830834453,"damageTakenOnTeamPercentage":0.22232797822526043,"dancedWithRiftHerald":0,"deathsByEnemyChamps":10,"dodgeSkillShotsSmallWindow":20,"doubleAces":0,"dragonTakedowns":0,"earlyLaningPhaseGoldExpAdvantage":0,"effectiveHealAndShielding":0,"elderDragonKillsWithOpposingSoul":0,"elderDragonMultikills":0,"enemyChampionImmobilizations":17,"enemyJungleMonsterKills":0,"epicMonsterKillsNearEnemyJungler":0,"epicMonsterKillsWithin30SecondsOfSpawn":0,"epicMonsterSteals":0,"epicMonsterStolenWithoutSmite":0,"flawlessAces":2,"fullTeamTakedown":7,"gameLength":1125.3237228706232,"getTakedownsInAllLanesEarlyJungleAsLaner":0,"goldPerMinute":678.3504271799333,"hadOpenNexus":0,"immobilizeAndKillWithAlly":7,"initialBuffCount":0,"initialCrabCount":0,"jungleCsBefore10Minutes":0,"junglerTakedownsNearDamagedEpicMonster":0,"kTurretsDestroyedBeforePlatesFall":1,"kda":3.2,"killAfterHiddenWithAlly":3,"killParticipation":0.5925925925925926,"killedChampTookFullTeamDamageSurvived":0,"killsNearEnemyTurret":2,"killsOnOtherLanesEarlyJungleAsLaner":0,"killsOnRecentlyHealedByAramPack":0,"killsUnderOwnTurret":2,"killsWithHelpFromEpicMonster":0,"knockEnemyIntoTeamAndKill":7,"landSkillShotsEarlyGame":30,"laneMinionsFirst10Minutes":18,"laningPhaseGoldExpAdvantage":0,"legendaryCount":0,"lostAnInhibitor":1,"maxCsAdvantageOnLaneOpponent":0,"maxKillDeficit":1,"maxLevelLeadLaneOpponent":2,"moreEnemyJungleThanOpponent":0,"multiKillOneSpell":0,"multiTurretRiftHeraldCount":0,"multikills":1,"multikillsAfterAggressiveFlash":0,"mythicItemUsed":4636,"outerTurretExecutesBefore10Minutes":0,"outnumberedKills":1,"outnumberedNexusKill":0,"perfectDragonSoulsTaken":0,"perfectGame":0,"pickKillWithAlly":20,"poroExplosions":0,"quickCleanse":0,"quickFirstTurret":0,"quickSoloKills":0,"riftHeraldTakedowns":0,"saveAllyFromDeath":0,"scuttleCrabKills":0,"shortestTimeToAceFromFirstTakedown":13.277886598791383,"skillshotsDodged":105,"skillshotsHit":55,"snowballsHit":8,"soloBaronKills":0,"soloKills":1,"stealthWardsPlaced":0,"survivedSingleDigitHpCount":0,"survivedThreeImmobilizesInFight":0,"takedownOnFirstTurret":0,"takedowns":32,"takedownsAfterGainingLevelAdvantage":0,"takedownsBeforeJungleMinionSpawn":0,"takedownsFirstXMinutes":21,"takedownsInAlcove":0,"takedownsInEnemyFountain":0,"teamBaronKills":0,"teamDamagePercentage":0.19409211009920407,"teamElderDragonKills":0,"teamRiftHeraldKills":0,"threeWardsOneSweeperCount":0,"tookLargeDamageSurvived":0,"turretPlatesTaken":0,"turretTakedowns":1,"turretsTakenWithRiftHerald":0,"twentyMinionsIn3SecondsCount":1,"unseenRecalls":0,"visionScoreAdvantageLaneOpponent":-1,"visionScorePerMinute":0,"wardTakedowns":0,"wardTakedownsBefore20M":0,"wardsGuarded":0},"champExperience":17037,"champLevel":17,"championId":131,"championName":"Diana","championTransform":0,"commandPings":1,"consumablesPurchased":1,"damageDealtToBuildings":1477,"damageDealtToObjectives":1477,"damageDealtToTurrets":1477,"damageSelfMitigated":28868,"dangerPings":0,"deaths":10,"detectorWardsPlaced":0,"doubleKills":1,"dragonKills":0,"eligibleForProgression":true,"enemyMissingPings":0,"enemyVisionPings":0,"firstBloodAssist":false,"firstBloodKill":false,"firstTowerAssist":false,"firstTowerKill":false,"gameEndedInEarlySurrender":false,"gameEndedInSurrender":false,"getBackPings":1,"goldEarned":12722,"goldSpent":11500,"holdPings":0,"individualPosition":"Invalid","inhibitorKills":0,"inhibitorTakedowns":1,"inhibitorsLost":1,"item0":4636,"item1":3111,"item2":3115,"item3":4637,"item4":1028,"item5":2421,"item6":2052,"itemsPurchased":17,"killingSprees":1,"kills":4,"lane":"NONE","largestCriticalStrike":0,"largestKillingSpree":2,"largestMultiKill":2,"longestTimeSpentLiving":265,"magicDamageDealt":52087,"magicDamageDealtToChampions":26890,"magicDamageTaken":7998,"needVisionPings":0,"neutralMinionsKilled":0,"nexusKills":0,"nexusLost":0,"nexusTakedowns":1,"objectivesStolen":0,"objectivesStolenAssists":0,"onMyWayPings":4,"participantId":1,"pentaKills":0,"perks":{"statPerks":{"defense":5002,"flex":5008,"offense":5005},"styles":[{"description":"primaryStyle","selections":[{"perk":8010,"var1":337,"var2":0,"var3":0},{"perk":8009,"var1":2101,"var2":0,"var3":0},{"perk":9105,"var1":6,"var2":50,"var3":0},{"perk":8299,"var1":849,"var2":0,"var3":0}],"style":8000},{"description":"subStyle","selections":[{"perk":8143,"var1":863,"var2":0,"var3":0},{"perk":8135,"var1":550,"var2":5,"var3":0}],"style":8100}]},"physicalDamageDealt":6802,"physicalDamageDealtToChampions":2457,"physicalDamageTaken":13778,"profileIcon":5464,"pushPings":0,"puuid":"vYRZZnkDGJShTIVBItLrDdg55r1VWqu7p4LMEobPG7BmnrriUOzDw3Yv0Iw02X000BLZ2ZsTu8yq7A","quadraKills":0,"riotIdName":"","riotIdTagline":"","role":"SUPPORT","sightWardsBoughtInGame":0,"spell1Casts":61,"spell2Casts":29,"spell3Casts":29,"spell4Casts":9,"summoner1Casts":4,"summoner1Id":4,"summoner2Casts":17,"summoner2Id":32,"summonerId":"7YnUwk0URmgUng_Y1RviLXbjQwYXi1VJyqjHfj92WutrCQ","summonerLevel":243,"summonerName":"da
        pirok po pai","teamEarlySurrendered":false,"teamId":100,"teamPosition":"","timeCCingOthers":11,"timePlayed":1125,"totalDamageDealt":59784,"totalDamageDealtToChampions":30243,"totalDamageShieldedOnTeammates":0,"totalDamageTaken":24349,"totalHeal":1135,"totalHealsOnTeammates":0,"totalMinionsKilled":38,"totalTimeCCDealt":53,"totalTimeSpentDead":299,"totalUnitsHealed":1,"tripleKills":0,"trueDamageDealt":895,"trueDamageDealtToChampions":895,"trueDamageTaken":2573,"turretKills":0,"turretTakedowns":1,"turretsLost":3,"unrealKills":0,"visionClearedPings":0,"visionScore":0,"visionWardsBoughtInGame":0,"wardsKilled":0,"wardsPlaced":0,"win":true},{"allInPings":0,"assistMePings":0,"assists":31,"baitPings":0,"baronKills":0,"basicPings":0,"bountyLevel":0,"challenges":{"12AssistStreakCount":1,"abilityUses":236,"acesBefore15Minutes":2,"alliedJungleMonsterKills":0,"baronTakedowns":0,"blastConeOppositeOpponentCount":0,"bountyGold":0,"buffsStolen":0,"completeSupportQuestInTime":0,"controlWardsPlaced":0,"damagePerMinute":829.7715426993209,"damageTakenOnTeamPercentage":0.14908388260502306,"dancedWithRiftHerald":0,"deathsByEnemyChamps":6,"dod[...]
[...]
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/vYRZZnkDGJShTIVBItLrDdg55r1VWqu7p4LMEobPG7BmnrriUOzDw3Yv0Iw02X000BLZ2ZsTu8yq7A?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 1:1,55:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 51:60
      x-riot-edge-trace-id:
      - 91850bc5-9bad-4ee2-b2ee-dd16f783ae8c
    body:
      encoding: UTF-8
      string: '{"id":"7YnUwk0URmgUng_Y1RviLXbjQwYXi1VJyqjHfj92WutrCQ","accountId":"0WvUnHWo9yDHuWrAnVXbb4j-BvXkzstIc5xDWBYAjdGFEjo","puuid":"vYRZZnkDGJShTIVBItLrDdg55r1VWqu7p4LMEobPG7BmnrriUOzDw3Yv0Iw02X000BLZ2ZsTu8yq7A","name":"da
        pirok po pai","profileIconId":5464,"revisionDate":1671222476000,"summonerLevel":244}'
  recorded_at: Sun, 18 Dec 2022 13:00:34 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/dsA2iCLloiNQ631v3cIa7hynySmFwJ_HFo2NRdcDrH45MR8qKRS1B4LnteBDhhAwaIOygYdlz4uV6A?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 2:1,56:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 52:60
      x-riot-edge-trace-id:
      - d2f58b7e-17e7-404d-951c-eb23127952f3
    body:
      encoding: UTF-8
      string: '{"id":"AsH5zLUcK6wNDoIzDe_3dhS-y_462N7K0wnK64-i4NMwGA","accountId":"0igBvbpOrPM8g-yeV-PzxJY7SSdOqaz7mK4j5snJ8sw6GNA","puuid":"dsA2iCLloiNQ631v3cIa7hynySmFwJ_HFo2NRdcDrH45MR8qKRS1B4LnteBDhhAwaIOygYdlz4uV6A","name":"Lyord","profileIconId":3176,"revisionDate":1671059670000,"summonerLevel":639}'
  recorded_at: Sun, 18 Dec 2022 13:00:35 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/RXcJ-ym3QoZ7zolwjDNpHLXC_c5fzEc74tGZW2UdU-HbZoxIdjPRCD-pdWNaygNgDIwibkM9otLkgg?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 1:1,57:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 53:60
      x-riot-edge-trace-id:
      - d6ed664f-008c-48f2-9838-7cce7373b903
    body:
      encoding: UTF-8
      string: '{"id":"lfLtWklLeOWrCU68_kUU1KOM5MCwvMM-n5nVfGtXmWDP5rA","accountId":"9g3ea68L67MeuGKv_kR65N4dsrLPR7Nc8LRsNcwj1p2l4bs","puuid":"RXcJ-ym3QoZ7zolwjDNpHLXC_c5fzEc74tGZW2UdU-HbZoxIdjPRCD-pdWNaygNgDIwibkM9otLkgg","name":"Magão
        soca fofo","profileIconId":937,"revisionDate":1671125775000,"summonerLevel":298}'
  recorded_at: Sun, 18 Dec 2022 13:00:36 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/A87dJq2ioJhHVapHtaKjPEOMteTQjjzVEeoXD7k9eBuMN8p2pAhtlOgcYEpHT_JkBLIdfvVQg6PZpQ?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 2:1,58:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 54:60
      x-riot-edge-trace-id:
      - 339a39ae-3670-44f6-86ce-42f36bab42be
    body:
      encoding: UTF-8
      string: '{"id":"0rdAX362X8o3TTC0OOKjhOkRoiLh4M5JK2f0HM_TQAie2Vs","accountId":"TU-fxFo_FYnjVdobfL179_01sYmytbFd_bW4rnL_wW_3Bl0","puuid":"A87dJq2ioJhHVapHtaKjPEOMteTQjjzVEeoXD7k9eBuMN8p2pAhtlOgcYEpHT_JkBLIdfvVQg6PZpQ","name":"Um
        cara simpIes","profileIconId":5465,"revisionDate":1671125775000,"summonerLevel":396}'
  recorded_at: Sun, 18 Dec 2022 13:00:37 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/IZ5Z5cNuab8Mf46bX7sMob2O1NXW-0VT8M1YLilv9N29vTt3L9X87mam6ehBQ4jWpAFXcGbh8Sj8Uw?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 1:1,59:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 55:60
      x-riot-edge-trace-id:
      - 6187f832-f4e5-4618-ac72-a9b53b14260c
    body:
      encoding: UTF-8
      string: '{"id":"iykNrks0urbOTLuUpzlES0cVslVJci-x8SlBO3TmibXau2w","accountId":"SFuQJ2Gh8YeOPtQnOjYr8z0PR_6Bt-1OXgFu-4Xp6yqNwYY","puuid":"IZ5Z5cNuab8Mf46bX7sMob2O1NXW-0VT8M1YLilv9N29vTt3L9X87mam6ehBQ4jWpAFXcGbh8Sj8Uw","name":"gabigótico","profileIconId":2072,"revisionDate":1671076169000,"summonerLevel":599}'
  recorded_at: Sun, 18 Dec 2022 13:00:38 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/xM-GrcQsWMSheevvyUi9bfBgY2kQpHiT3cgAKEiKGyWcfd53qYT9Yl1gD4ymGTt6TU6Ga5NLS6dd9Q?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 2:1,60:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 56:60
      x-riot-edge-trace-id:
      - ca2281fc-8bc0-4bc1-b7a7-340a14a68e77
    body:
      encoding: UTF-8
      string: '{"id":"KVQXEynsjb4O499fIX9u450TUwt5NLg5ygcV6CD9kYrTGVQ","accountId":"O13LpCpeWlbqO4hq08vMm5XX8KjXvxxeyr0r5I_XHXVBQZM","puuid":"xM-GrcQsWMSheevvyUi9bfBgY2kQpHiT3cgAKEiKGyWcfd53qYT9Yl1gD4ymGTt6TU6Ga5NLS6dd9Q","name":"Rufus
        Regularis","profileIconId":1442,"revisionDate":1671153979000,"summonerLevel":189}'
  recorded_at: Sun, 18 Dec 2022 13:00:39 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/EGBztrSGAD2DC3RihWOks08ememOBKMiNRwxsu4JmCJ5sqCTZsdq5TNtDbL1it-WeciUuQLZBlOJlg?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 1:1,61:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 57:60
      x-riot-edge-trace-id:
      - f794fb4b-9c62-427c-8e77-202643424e14
    body:
      encoding: UTF-8
      string: '{"id":"IvfMepuBhiY37wCtVb3efvbCLTewyQRmExVeDLYJyU2zxx2J_NgiK9oylQ","accountId":"NicJRiLtdm4B5Eg58JT2vznOvtcCD0tjvjJ0IzhLyg-uNbgqUaLSd5gN","puuid":"EGBztrSGAD2DC3RihWOks08ememOBKMiNRwxsu4JmCJ5sqCTZsdq5TNtDbL1it-WeciUuQLZBlOJlg","name":"ProPato64","profileIconId":5544,"revisionDate":1671319885813,"summonerLevel":343}'
  recorded_at: Sun, 18 Dec 2022 13:00:40 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/f91Cv99bcGqp5RjontXIBWXpwVWFTX7pmw8oV8eY60Ob110dXWypKh0w4PsdPjSSStTojTeAcE1WGA?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 2:1,62:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 58:60
      x-riot-edge-trace-id:
      - 14b1b3ac-6840-4c2f-8a72-a8c339aaf358
    body:
      encoding: UTF-8
      string: '{"id":"h_tOSpH4bnDTKKd6UTtH07vswTgGI1UwLbzVaeIYqFugs4c","accountId":"J3cqu4jstRaZOb4JYPr-I1w0Ydpc-ohy7y0JLoFXOARAx3M","puuid":"f91Cv99bcGqp5RjontXIBWXpwVWFTX7pmw8oV8eY60Ob110dXWypKh0w4PsdPjSSStTojTeAcE1WGA","name":"Meu
        Quarto","profileIconId":5446,"revisionDate":1671132716570,"summonerLevel":738}'
  recorded_at: Sun, 18 Dec 2022 13:00:40 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/e74ZkmXFIOGhE1dZq8fbDlvjH5NAaknXalpeuUTdJHzfHeCVo0Q4C5Y161O7O_bLxBsBePeH_lHGNg?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 1:1,63:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 59:60
      x-riot-edge-trace-id:
      - 1539506c-398d-41aa-98c9-fc10e22ed883
    body:
      encoding: UTF-8
      string: '{"id":"to4kosz40HgdY2nhu1XjGp9V60SPtz78jWsrOuW7mH9xSNg","accountId":"eI9nLTQX6xFYjHh146La92eMMnNqql4EtPrQnNVlbl56qDo","puuid":"e74ZkmXFIOGhE1dZq8fbDlvjH5NAaknXalpeuUTdJHzfHeCVo0Q4C5Y161O7O_bLxBsBePeH_lHGNg","name":"KonoAlucard","profileIconId":5430,"revisionDate":1671144117679,"summonerLevel":465}'
  recorded_at: Sun, 18 Dec 2022 13:00:41 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/aYovYwt0z0DmPi_8NtLUuTijY08fEXPFN-DxtBrZaIG7iCU0tqFiZLX-_8StogKn-k0nikxONtO-8w?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 2:1,64:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 60:60
      x-riot-edge-trace-id:
      - 533c1a37-ea25-4b19-b9b0-0a1c0ab2f54c
    body:
      encoding: UTF-8
      string: '{"id":"_U45bYbBxkVAKypPvRBPk0sXm7JvBQEfrDcp_tUKHI0XlJs","accountId":"B6SuXshm-JAWCysD6sly-ofNs43NbWCwkRrVaOX5WlrY2Sg","puuid":"aYovYwt0z0DmPi_8NtLUuTijY08fEXPFN-DxtBrZaIG7iCU0tqFiZLX-_8StogKn-k0nikxONtO-8w","name":"Fü
        Hua","profileIconId":4656,"revisionDate":1671319885813,"summonerLevel":584}'
  recorded_at: Sun, 18 Dec 2022 13:00:42 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/m7ImZeblcTSVCWWy1tOUKst_-0Cvs8-s41u8syUee7Yw6AaEHmBUUsXm34gmbo8oVcdIwRpMdeOwrw?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 1:1,65:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 61:60
      x-riot-edge-trace-id:
      - fa248963-06fa-4a26-b6ac-edab2981eca9
    body:
      encoding: UTF-8
      string: '{"id":"mVS1pBu7ptIEx4llODJ664P4zpBEDDYAkV0lGLFHir0AHQ","accountId":"X-jJrYRujOM0o_Vu3YnzTklKSOxXe4J9fyq0eEcvCJFz8r0","puuid":"m7ImZeblcTSVCWWy1tOUKst_-0Cvs8-s41u8syUee7Yw6AaEHmBUUsXm34gmbo8oVcdIwRpMdeOwrw","name":"Mendigoloco","profileIconId":551,"revisionDate":1671285845328,"summonerLevel":176}'
  recorded_at: Sun, 18 Dec 2022 13:00:43 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/AtAiyPHwhHZNpL9wScctCawyukAxuaio4_VZ1eYSjbfR8SAjuNEMNGEre8ZtUuiE8Rn4Vdrmh7LxlA?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 2:1,66:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 1:60
      x-riot-edge-trace-id:
      - d505aeb2-978c-42a3-8cc7-81ee92d102ed
    body:
      encoding: UTF-8
      string: '{"id":"-wOJ6WYEVph2MF_4FcRFd6FPqumRtLcaCr12_neboEzDTyE","accountId":"iWZtg8BK2E7sjVWRNsvwV8xrHjA5BnyJH_16wt3sjZOSObwf5PgS0gMm","puuid":"AtAiyPHwhHZNpL9wScctCawyukAxuaio4_VZ1eYSjbfR8SAjuNEMNGEre8ZtUuiE8Rn4Vdrmh7LxlA","name":"Gigaboy2","profileIconId":5528,"revisionDate":1671247563324,"summonerLevel":250}'
  recorded_at: Sun, 18 Dec 2022 13:00:44 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/fWsGnfYgPywMZvyVlSH3M1osReCQ4mJjgfCnXdYslxuiviYg6as5n4LyS7NHHTp2PpX7sO82IH0afg?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 1:1,67:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 2:60
      x-riot-edge-trace-id:
      - dd13232e-3ddc-4bd6-be9b-bd610a9dfcc7
    body:
      encoding: UTF-8
      string: '{"id":"9A4cpdXx-YEb5STSzXF98Nn3izucKKT7dovxKOvAeYLZ6ts","accountId":"PQHAif-xsqLYadoNoiIL-S0I593AgT8GKjQ-y8r_AmEceQ64y6Tf-HEL","puuid":"fWsGnfYgPywMZvyVlSH3M1osReCQ4mJjgfCnXdYslxuiviYg6as5n4LyS7NHHTp2PpX7sO82IH0afg","name":"younger
        now","profileIconId":5574,"revisionDate":1671071490000,"summonerLevel":499}'
  recorded_at: Sun, 18 Dec 2022 13:00:45 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/s8lx1G_RZNKCLWKtBPgdV3trvsMSeU8rPxbrrjbTPZ96jkXPgXgi455pMFAzRA6lWzFyM338iSQv7w?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 2:1,68:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 3:60
      x-riot-edge-trace-id:
      - 4219d523-3ecf-4741-84b5-f670d0360c55
    body:
      encoding: UTF-8
      string: '{"id":"3QDuyKFtbPwKPxotZ9p3tDITdA5-nJLIq_yj-5c2I4B9Mw","accountId":"tU62RZyyeAZGs6pbpu6SJO1llS02rQ2hVB1RSQXOQ4XsDYI","puuid":"s8lx1G_RZNKCLWKtBPgdV3trvsMSeU8rPxbrrjbTPZ96jkXPgXgi455pMFAzRA6lWzFyM338iSQv7w","name":"Madonna","profileIconId":5332,"revisionDate":1671367999091,"summonerLevel":611}'
  recorded_at: Sun, 18 Dec 2022 13:00:46 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/tgUhvkUjm3wSw0F-Jjqh7ZQfqwmIfR2-105m0v1dHB_-4FgZq6r_5OV6p9ucN1TUvnnOGG1z5JpmxQ?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 1:1,69:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 4:60
      x-riot-edge-trace-id:
      - 7d5ee836-1efe-4811-8a93-d34bc6e5354e
    body:
      encoding: UTF-8
      string: '{"id":"66wU1ntauroWE0Yrp4eX52eC786O7v0JMz7jHmumRkguCgqJRNm2Gw4ftA","accountId":"PhUeXN3rlrs1o1YKwRAYVUitaIT6yxQBNfR-6fJ2zID8qHPjPUceocYk","puuid":"tgUhvkUjm3wSw0F-Jjqh7ZQfqwmIfR2-105m0v1dHB_-4FgZq6r_5OV6p9ucN1TUvnnOGG1z5JpmxQ","name":"magoindigo","profileIconId":1427,"revisionDate":1671071678000,"summonerLevel":111}'
  recorded_at: Sun, 18 Dec 2022 13:00:47 GMT
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/nSNCggyLUZYfRUWVRgd4AUgU4F0GUn8B0LvthcTSm-magZ6BQqnjlLesoEGkbOmXvSaVMwXlTGUrMg?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 2:1,70:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 5:60
      x-riot-edge-trace-id:
      - 70390ef2-5fca-4f1d-9084-b9dd4c854615
    body:
      encoding: UTF-8
      string: '{"id":"Rjag7rL6DO5VKDr4Mc2UEQSHpfp0EcginLwUfcox7oXA1SU","accountId":"6AStp0b7sx62HfpHLpweCDnehxITP5Wpn_4PjGz8WpMS2lE","puuid":"nSNCggyLUZYfRUWVRgd4AUgU4F0GUn8B0LvthcTSm-magZ6BQqnjlLesoEGkbOmXvSaVMwXlTGUrMg","name":"Lará","profileIconId":3231,"revisionDate":1671064026000,"summonerLevel":307}'
  recorded_at: Sun, 18 Dec 2022 13:00:47 GMT
[...]
- request:
    method: get
    uri: https://br1.api.riotgames.com/lol/summoner/v4/summoners/by-puuid/v9b42srJiTcwiSfD-5CUR8bwhduAbrH7OJCNYTSIUIHKUvWc-CHk-eAvo9RHszyvDC7pJJP0Ogmvbg?api_key=RGAPI-a909dde2-524d-46f6-9b5e-02c852eb5134
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json;charset=utf-8
      x-app-rate-limit:
      - 20:1,100:120
      x-app-rate-limit-count:
      - 2:1,72:120
      x-method-rate-limit:
      - 1300:60
      x-method-rate-limit-count:
      - 7:60
      x-riot-edge-trace-id:
      - 97a72df2-7ab5-4a05-a3f5-c09f27409f18
    body:
      encoding: UTF-8
      string: '{"id":"Tnxhg8RJ1kHNbIcgGpwCuKPHA9bezVbtgVaz7sNAqQoCTVU","accountId":"DfIidXu7qR_8ENl4hDRmEDIlSREdoCEfNtS2IjhA3u8QalUqY0cCZzgJ","puuid":"v9b42srJiTcwiSfD-5CUR8bwhduAbrH7OJCNYTSIUIHKUvWc-CHk-eAvo9RHszyvDC7pJJP0Ogmvbg","name":"Talon
        Chan","profileIconId":1591,"revisionDate":1670728150000,"summonerLevel":462}'
  recorded_at: Sun, 18 Dec 2022 13:00:49 GMT
- request:
    method: get
[...]
