/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.body_home {
  width: 100%;
  background-color: #747DFA;
  margin: 0 auto;
}

.logo_image { 
  padding-top: 6vh;
}

.title_home { 
  padding-top: 8vh;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 4.0em;
}

.head-color {
  background-color: white;
}

.form-control-borderless {
  border: none;
}

.search{
  position: relative;
  width: 600px;
  top: 8vh;
  left: 15vh;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input{
  height: 40px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}


.search input:focus{
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search{
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button{ 
  color: white;
  position: absolute;
  padding: 0px;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 110px;
  background: rgb(67, 67, 252);
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
  height: 120px;
  width: 120px;
  background-color: transparent;
}

.product-title {
  font-size: 1rem;
  text-align: center;
  color: white;
  padding-bottom: 6vh;
}

.title-champions { 
  padding-top: 6vh;
  padding-bottom: 6vh;
  font-weight: bold;
  color: white;
  font-size: 1.0em;
}

.image {
  object-fit: fill;
}
 
.text {
  padding-top: 4vh;
  padding-bottom: 4vh;
  color: white;
}