/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.search_bar {
  padding-bottom: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 35vh;
}

.body_home {
  width: 100%;
  background-color: #747DFA;
  margin: 0 auto;
}

.logo_image { 
  padding-top: 6vh;
}

.title_home { 
  padding-top: 6vh;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 4.0em;
}

.head-color {
  background-color: white;
}

.form-control-borderless {
  border: none;
}
