/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";

.body_home {
  width: 100%;
  background-color: #747DFA;
  margin: 0 auto;
}

.logo_image { 
  padding-top: 6vh;
}

.title_home { 
  padding-top: 8vh;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 4.0em;
}

.head-color {
  background-color: white;
}

.form-control-borderless {
  border: none;
}

.search{
  position: relative;
  width: 600px;
  top: 8vh;
  left: 15vh;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
}

.search input{
  height: 40px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
}


.search input:focus{
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search{
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button{ 
  color: white;
  position: absolute;
  padding: 0px;
  top: 5px;
  right: 5px;
  height: 30px;
  width: 110px;
  background: rgb(67, 67, 252);
}

.product-title {
  font-size: 1rem;
  text-align: center;
  color: white;
  padding-bottom: 6vh;
}

.title-champions { 
  padding-top: 6vh;
  padding-bottom: 6vh;
  font-weight: bold;
  color: white;
  font-size: 1.0em;
}

.image {
  object-fit: fill;
}
 
.text {
  display: flex;
  padding-top: 4vh;
  padding-bottom: 4vh;
  color: white;
  width: 500px;
  margin: auto;
}

.text-center {
  color: white;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: transparent;
  margin: 30px auto;
  width: 180px;
  height: 180px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: 180px;
  height: 180px;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 20px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-top: -40px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}